@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

:root{
    --body-color:white;
    --text-color:black;
    --opp-color:black;
    --accent-color:black;
    --sec-color:white;
}

body {
  overflow-y: hidden;
  font: 14px "Magra", sans-serif;
  font-family: Magra;
  background-color:var(--body-color);
  margin: 0;
  color:var(--text-color);
}

a {
  color: #00B7FF;
} 





div#main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows:  0.5fr 1fr 0.5fr;
  grid-template-areas: 'header header options'
                       '. main .'
                       'note . .'
  
  ;                                  
  
  height: 100vh;
  
  
  
  
}

.options{
  grid-area:options;
}
header{
  grid-area: header;
  /* border-bottom: 1px solid black; */
  height: 50%;
  align-items: end;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.8fr;
  grid-template-areas: 'img title  .';
  

  
}
img#logo{
  grid-area: img;
  place-self: right;
  margin-left: 5vw;

}
img#logo:hover{
  grid-area: img;
  place-self: right;
  margin-left: 5vw;
  cursor: pointer;
}
#subMain{
  grid-area: main;
  border: 1px solid grey;
  outline: var(--opp-color);
  border-radius: 20px;
  place-self: center;
  background-color: var(--body-color);

  border-top-right-radius: 0%;
  width: 60%;
  height: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.6fr ;
  grid-template-areas: '. ' 
                       
  ;   
  
  
  
}

div#login{
  margin-left: 10%;
  align-items: center;
  width: 35%;
  height: 100%;
  
}
h1#login{
  font-size: 5rem;
  margin-bottom: 0%;
  
}

div#school{
  float: right;
  padding: 0px 10px 0px 10px;
  background-color: #013759; 
  box-shadow: 0px 2px 10px 1px #01375970;
}

.auth{
  display: table;
  margin:auto;
}
input{
  border: 2px solid var(--accent-color);
  background-color: var(--body-color);
  color: var(--opp-color);
}
input::placeholder{
  
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}

input.auth{
  border-radius: 6px;
  height: 20px;
  border-top-left-radius: 0px;
}
input.auth:hover{
  border-radius: 4px;
  height: 20px;
  border-top-left-radius: 0px;
  box-shadow: 0px 0px 2px 1px #01375950;
  border-color: #00B7FF;
 
}

button#login{
  /* background-color: #013759;*/ 
  color:var(--text-color); 
  margin: auto;
  padding: 1% 10% 1% 10%;
  border-radius: 10px;
  border-width: 1px;
  background-color: var(--body-color);
  font-weight: bolder;
  font-family: Magra;
  /* box-shadow: 0px 2px 10px 1px #01375970; */
}

button#login:hover{
  background-color: #013759; 
 
  color:white; 
  margin: auto;
  padding: 1% 10% 1% 10%;
  border-radius: 10px;
  border-width: 1px;
  cursor: pointer;
  font-family: Magra;
  
  box-shadow: 0px 2px 10px 1px #013759af;
}

.note{
  grid-area:note;
  justify-self: start;
  align-self: end;

}

.copy{
  margin-left: 50%; 
  width: 100%; 
  font-weight: 50; 
  color: grey; 
  font-family:sans-serif;
  
}

.privacy{
  grid-area: main;
  justify-self: center;
  align-self: end;
  color: grey;
  margin-bottom: 10%;

}

.terms:hover{
  color: #013759; 
  cursor: pointer;
}
.terms{
  text-decoration: underline; 
}
.no-nothing{
  margin: 5%;
  padding: 20%;
  
  font-size: small;
 
}
.no-nothing:hover{
  margin: 5%;
  padding: 20%;
  font-size: small;
  background-color: #c2c2c283;
  border-radius: 10%;
  cursor: pointer;
}

